/* !Header */

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px; 
    background: rgba(8,28,36,0.95);
    z-index: 9999999;
    position: fixed;
}

.header-text{
    color: aliceblue;
    font-weight: bold;
    font-size: 28px;
    display: block;
}

.fixed {
    position: fixed;
}

.logo img {
    width: 55px;
}

